/*
*{
  border: 1px solid red;
}
*/

:root{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  background: url("./assets/background.jpg");
  background-size: cover;
}
h1{
    position: absolute;
    margin: 0;
    top: 20vh;
    color: white;
    font-size: 64px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Raleway', serif;
    text-decoration: underline;
}

/* THE PLAYTABLE */
#table {
  position: relative;
  width: 80vw;
  height: 60vh;
  border-radius: 20%;
  background: white;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30vh;
}

#table::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 40px;
  background: url("./assets/wood.webp");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}
.highlight{
  position: absolute;
  inset: 0;
  background: radial-gradient(
    #FFFF0077,
      #00000000
  );
  z-index: 2;
}
.row{
  width: 100%;
  height: 50px;
}
.row:nth-child(odd) {
  background: repeating-linear-gradient(
  to right,
  green 0,
  green 50px,
  forestgreen 50px,
  forestgreen 100px
 );
}
.row:nth-child(even) {
  background: repeating-linear-gradient(
  to right,
  forestgreen 0,
  forestgreen 50px,
  green 50px,
  green 100px
 );
}

/* PLAYING CARDS */
#playing-cards{
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    z-index: 3;
}
.card {
  position: relative;
  width: 10vh;
  height: 15vh;
  background-color: rgb(241, 241, 241);
  border: 5px solid rgb(199, 188, 171);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 5px 0px black;
  transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
  transform-style: preserve-3d;
  cursor: pointer;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: repeating-linear-gradient(
    45deg,
    red 0px,
    orange 5px,
    yellow 10px,
    green 15px,
    cyan 20px,
    blue 25px,
    magenta 30px
  );
  background-size: 150% 150%; 
  mix-blend-mode: screen;
  pointer-events: none;
  
  transform: translate(var(--holo-translate-x,0), var(--holo-translate-y,0));
  transition: transform 0.1s ease-in;
}
.card:hover{
  box-shadow: 5px 5px 20px 0px black;
}
.red{
  color: red;
}
.left{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  top: 10px;
  margin: 0;
  left: 10px;
  padding: 0;
}
.middle{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.right{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  bottom: 10px;
  margin: 0;
  right: 10px;
  padding: 0;
  transform: rotate(180deg);
}
p{
  padding: 0;
  margin: 0;
}

/* CHIPS */
#poker-palette {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  z-index: 2;
}

.chip-stack {
  bottom: 20vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5px;
}

.chip {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 2;
}


.chip:hover {
  transform: translateY(-5px) scale(1.1);
}

.chip.red { background-color: #d32f2f;}
.chip.blue { background-color: #1976d2;}
.chip.green { background-color: #388e3c;}
.chip.black { background-color: #212121;}
.chip.white { background-color: #f5f5f5;}
.chip.purple { background-color: #7b1fa2;}

.chip::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 5px;
  background: conic-gradient(
    transparent 0deg 30deg,
    white 30deg 60deg,
    transparent 60deg 90deg,
    white 90deg 120deg,
    transparent 120deg 150deg,
    white 150deg 180deg,
    transparent 180deg 210deg,
    white 210deg 240deg,
    transparent 240deg 270deg,
    white 270deg 300deg,
    transparent 300deg 330deg,
    white 330deg 360deg
  );
  pointer-events: none;
  mix-blend-mode: lighten; 
}

.chip-center {
  width: 60%;            
  height: 60%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  font-size: 0.7em;
  pointer-events: none;
  z-index: 2;
}