*{
  padding: 0;
  margin: 0;
}
footer{
  border-top: 10px solid darkgreen;
  width: 100%;
  background: linear-gradient(
    -45deg,
    aquamarine,
    Chartreuse 
  );
}
ul:not(.no-background){
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}
li:not(.no-background li){
  width: 100px;
  height: 30px;
  text-align: center;
  align-items: center;
  padding: 5px;
  line-height: 30px;
  background-color: greenyellow;
  border: 4px solid limegreen;
  border-radius: 10px;
}
p{
  text-align: center;
}
.no-background{
  width: 40vw;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  list-style: none;
  align-items: center;
}
.no-background li{
  margin: 20px 0;
  font-size: 30px;
}
a{
  text-decoration: none;
}
li:hover{
  transform: scale(1.1);
  transition: all ease-in 0.1s;
}